<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <!-- Card Image -->
        <img class="activator" src="https://avatars.githubusercontent.com/u/28937677">
    </div>
    <div class="card-content activator" style="cursor:pointer">
        <!-- Card Title -->
        <span class="card-title grey-text text-darken-4">Guilherme Rocha<i class="fa fa-coffee right"></i></span>
    </div>
    <div class="card-reveal">
        <!-- Card Reveal Content -->
        <span class="card-title grey-text text-darken-4">Guilherme Rocha<i class="material-icons right">close</i></span>

        <p>
            Desenvolvedor Ruby on Rails, Aluno curso de Git
        </p>

        <p class="center">
            <br><br>
            <a target="_blank" href="https://github.com/DevGuiRocha" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github left"></i>GitHub Profile</a>
            <br><br>
            <a target="_blank" href="https://www.linkedin.com/in/guilherme-rocha-828701b6/" class="indigo lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-linkedin left"></i>LinkedIn Profile</a>
            <br><br>
        </p>

    </div>
</div>
